swarms
tickr-agent
pydantic
loguru
swarm-models
fastapi 
uvicorn 
requests 
langchain-community
langchain-openai

# Quant Dependencies
numpy
pandas
yfinance
matplotlib
seaborn
scipy
statsmodels
scikit-learn
pillow
